.btn-gr {
  width: 30px;
  height: 46px;
  font-size: 0.875rem;
  background-color: var(--hashflag-red);
}

label {
  margin-left: 20px;
}

.btn {
  background-color: var(--hashflag-red);
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hashflag-white);
  position: relative;
  top: 10vh;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 12px 12px 30px 20px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  position: relative;
}

.section {
  display: grid;
  grid-template-columns: 100px 300px 100px 300px 100px 300px;
}
input {
  border-radius: 7px;
  border-style: solid 1px rgb(195, 189, 189);
  padding: 12px 16px;
  margin-bottom: 10px;
  border-style: none;
  border: 2px solid rgb(235, 232, 232);
}
.doc {
  position: relative;
  top: 60%;
  right: 300%;
  width: 600px;
  height: 800px;
}

@media (max-width: 1240px) {
  /*breakpoint*/
  .section {
    grid-template-columns: none;
    position: relative;
    top: 30vh;
  }
  .btn {
    position: relative;
    top: 30vh;
  }
}
